<div class="preview">
<!-- 	<img [src]="mov.backdrop_path" [alt]="mov.title">
	<h1>{{mov.title}}</h1>
	<p>{{mov.overview}}</p>
	<button *ngIf="movieVideos" >Ver trailer</button>
	<a *ngIf="videos.length > 0" href="{{videos[0].video_url}}" target="_blanck">Ver trailer</a>
	<p *ngIf="!videos"> Trailer no disponible</p> -->

	<img [src]="mov.coverUrl" [alt]="mov.title">
	<h1>{{mov.name}}</h1>
	<p>{{mov.description}}</p>
	<button (click)="dwn.iniciar()">Ver trailer</button>
	<button (click)="addMovie()">Add Movie</button>
	<hr>
	<download></download>
	<!-- <download #dwn></download> -->
	<!-- Local variable o templet variable | con el simbolo #, para comunicacion entre hijo y padre por medio de variable local, solamente para ejecución de functions -->
</div>